[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
body{
    
    font-family: 'Hind', sans-serif !important;
}
.modal-header-danger {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #d9534f;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.btn-default {
     color: #000!important;
     background-color: white;
}
a{
  /* color: #2c3e50!important;*/
}

/*Rome.js style plugin*/
.rd-days{
       border-collapse: initial!important;
       border-spacing: 10px;
}
.rojo{
    color:red;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #2c3e50!important;
    background-color: #ffffff;
    border: 1px solid #ecf0f1;
    border-bottom-color: transparent;
    cursor: default;
}
.no-padding{
    padding-left: 0px!important;
}
.padding-top{
    padding-top: 15px;
}
.modal-backdrop {
  z-index: -1;

}
.navbar-header a{

  margin: -11px 0px 0px 0px;
}
.navbar-brand span img{
margin: 5px 0px 15px 10px;
}

.rojo{
    color:red;
}
.navbar-inverse .navbar-toggle .icon-bar{
    background-color: white!important;
}
.navbar-inverse .navbar-nav>li>a{
    color: white!important;
}
.principal-row{
     margin-top: 50px;
}
.progress {
   height: 20px !important;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}
@media(max-width: 768px){
    .principal-row{
        margin-top: 0px;
    }
}

.contedor-espacio{
    margin-top: 30px;
}
.animacion.ng-hide-add {
    -webkit-animation: fadeOut 0.4s;
    display: block!important;
}
.animacion.ng-hide-remove {
    -webkit-animation: fadeIn 0.4s;
}

.animacion-loaded.ng-hide-add{
    -webkit-animation: zoomOut 0.4s;
    display: block!important;
}
.animacion-loaded.ng-hide-remove{
    -webkit-animation: zoomIn 0.4s;
}
.md-subhead {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .010em;
    line-height: 24px;
}
.md-subhead-datos{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .010em;
}
dt{
    margin-bottom: 2px;
}
dl{
    font-size: 16px;
    padding-top: 20px;
}
dd{
    font-style: italic;
}
.md-title {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .005em;
}
.form-control-shadow{
  /*  -webkit-box-shadow: inset 0 -2px 0 #2196f3!important;
    box-shadow: inset 0 -2px 0 #2196f3!important;   */
}
.form-control-shadow-text-area{
     -webkit-box-shadow: #2196f3!important;
    box-shadow:#2196f3!important;  
}
/*Colores de  SIASA*/
.navbar-inverse{
    background-color: #262368;
    background-image: none;
    background-repeat: no-repeat;

}
.azul{
    background-color:#262368;
}
.azul-font{
    color:#262368;
}
.contendor-formulario{
         
            background: #fff;
            padding: 0.5em 2em 3em;
            position: relative;
            -webkit-box-shadow: 0 3px 3px rgba(0,0,0,.1);
            box-shadow: 0 9px 15px rgba(0,0,0,.1);
           
            
            
  }
 .espacio{
      padding: 40px 15px;

  }
.vertical-center {
  min-height: 100%;  /* Fallback for vh unit */
  min-height: 100vh; /* You might also want to use
                        'height' property instead.
                        
                        Note that for percentage values of
                        'height' or 'min-height' properties,
                        the 'height' of the parent element
                        should be specified explicitly.
  
                        In this case the parent of '.vertical-center'
                        is the <body> element */

  /* Make it a flex container */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  
  /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;
  
  
  /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
     hence the bootstrap's container won't be aligned to the center anymore.
  
     Therefore, we should use the following declarations to get it centered again */
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
}
footer {
    background-color: #262368;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
    height: 32px;
    font-size: .8em;
    z-index: 2;
    margin-top: 32px;
}
.izquierda {
    margin: 8px 32px;
    float: left;
}
.help{
    display: block;
    float: right;
    margin: 8px 32px 8px 0px;
}
/*Color de navbar texto*/
.navbar-nav > li > a:link
{
    color: white;
}
#segunda{
    display: none;
}
#tercera{
    display: none;
}
.btn-red{
    
    background-color: #EC1C24;
    border: solid 1px #EC1C24;
    color: white;
    font-weight: lighter;
    border-radius: 8px;
    padding: 8px 12px;
    float: right;
    margin-top: 10px;
    clear: both;
}
.btn-red:hover,.btn-red:focus{
        color: #EC1C24;
	background-color: white;
	cursor: pointer;
}
.btn-red:disabled {
	background-color: #989898;
	color: #575757;
	border: solid 1px #575757;
	cursor: default;
}
.navbar-inverse .navbar-brand{
    color:white;
}
.centro{
    vertical-align: middle;
}
.arriba{
    margin-top: -10px;
    vertical-align: top
}
.centro-loader{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 200px;
    height: 200px;
   
}
 #regresar{

padding: 3px;
font-size: 12px;
  margin-top:20px;
   margin-left:5px;
}
#regresarbusqueda{
  margin-top:100px; margin-left:50px;
}

.btn-sq-lg {
  width: 100% !important;
  height: 150px !important;
}

.btn-sq {
  width: 100px !important;
  height: 100px !important;
  font-size: 10px;
}

.btn-sq-sm {
  width: 50px !important;
  height: 50px !important;
  font-size: 10px;
}

.btn-sq-xs {
  width: 25px !important;
  height: 25px !important;
  padding:2px;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
  margin-top: 20px;
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #262368;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #262368;
  background-image: #262368;
  color: #ffffff;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #262368;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}



/*ACTIVAR MENU LATERAL BOOTSTRAP EN SMALL DEVICES*/
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
    
}